h1{
    color: red;
}
small{
    border: 5px solid yellow;
}
p{
    background-color: powderblue;
    border: 3px solid rebeccapurple;
    margin: 70px;
}
h2{
    color: blue;
}
.eid{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}